~*
/.idea
/src/schematics/multi-channel-preamp/multi-channel-preamp-backups/
/src/schematics/pultec-boost-high/pultec-boost-high-backups/
/src/schematics/pultec-boost-high/fp-info-cache
/src/schematics/tapeop-output/tapeop-output-backups/
/src/schematics/gyraf-output/gyraf-output-backups/
/src/schematics/gyraf-output/fp-info-cache
/src/schematics/build/
/src/schematics/pultec-cut-low/fp-info-cache
/src/schematics/pultec-cut-low/pultec-cut-low-backups/
/src/schematics/pultec-cut-high/fp-info-cache
/src/schematics/pultec-cut-high/pultec-cut-high-backups/
/src/schematics/pultec-three-band-eq/fp-info-cache
/src/schematics/pultec-three-band-eq/pultec-cut-high-boost-low-backups/
/src/schematics/pultec-three-band-eq/pultec-three-band-eq-backups/
/src/schematics/pultec-three-band-eq-fukd/
/src/schematics/pultec-boost-high/pultect-boost-high-backups/
